



<header id="header">
 
    <div id="logo">
        codial
    </div>
    <div id="menu">
        <% if(locals.user){ %>

            <div><a href="/users/sign-out"> sign-out</a></div>
            <div><a href="/users/profile/<%=user._id%>"> <%=user.name %></a></div>
            
        
        <%} else{ %>
        <div><a href="/users/sign-in">sign-in</a></div>
        <div><a href="/users/sign-up">sign-up</a></div>
        <% } %>
    </div>
</header>

