<!-- <link rel="stylesheet" href="/css/home.css"> -->
<main id="home">
   <section>
    <% if(locals.user){%>
        <div id="feed-post">
            <section>
                <h4>Posts</h4>
                <form action="/posts/create" method="post" id="new-post">
                    <textarea name="content"  cols="30" rows="4" placeholder="write here......" required></textarea>
                    <button type="submit">post</button>
                </form>
            </section>
    
        </div>
    <%}%>
</section>
<section>
    <div id="post-contentainer">
      <ul>
        <% for(post of  posts) { %>

            <%-include('_post')-%>

        <% } %> 
    </ul>
    
</section>

<section id="all_usersList">
    <ul>
        <%for(u of allUsers){%>
            <li><a href="users/profile/<%=u._id%>"><%=u.name%></a></li>
        <%}%>
    </ul>
</section>
</main>
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="/js/toggle_likes.js"></script>
<script>
    $(' .toggle-like-button').each(function(){
         let self=this;
         let toggleLike=new ToggleLike(self);
    });
</script>
