<h1>Sign up</h1>
<form action="/users/create" method="post">
  Name: <input type="text" name="name" id="name" required /><br /><br />
  Email: <input type="email" name="email" id="email" required /><br /><br />
  Image:<input type="file" , alt="profile_photo" /> password:
  <input type="password" name="password" id="password" required /><br /><br />
  Confirm password:
  <input
    type="password"
    name="confirm_password"
    id="confirm_password"
    required
  />
  <button type="submit">Sign Up</button>
</form>
