<link rel="stylesheet" href="/css/user_sign_in.css">
    <h1>Sign IN</h1>
    <form action="/users/create-session" id="user_sign_in" method="POST">
        Enter email: <input type="email" name="email" id="email" required><br><br>
        Enter Password: <input type="password" name="password" id="password" required>
        <button type="submit">Log In</button>
    </form>

<p><a href="/users/auth/google"> User sign In Using google</a></p>
