<h1>Sign up</h1>
<form action="/users/create" method="post">
    Name: <input type="text" name="name" id="name" required>
    Email: <input type="email" name="email" id="email" required>
    password: <input type="password" name="password" id="password" required>
    Confirm password: <input type="password" name="confirm_password" id="confirm_password" required>
    <button type="submit">Sign Up</button>
</form>