header{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: rgb(180, 146, 212);
   
    
    #logo{
        height: 100%;
        width: 10%;
        
        font-size: 40px;
        font-weight: bolder;
        color: green;
        
        
       
        
    }
    #menu{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
       
        font-size: 30px;
        div{
            display: flex;
            padding: 10px;
            
        }
       
       
        a{
            text-decoration: none;
            color: whitesmoke;
            
        }
        a:hover{
            color:rgba(237, 238, 234, 0.473);
        }
       
       
    }
}