header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #b492d4; }
  header #logo {
    height: 100%;
    width: 10%;
    font-size: 40px;
    font-weight: bolder;
    color: green; }
  header #menu {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 30px; }
    header #menu div {
      display: flex;
      padding: 10px; }
    header #menu a {
      text-decoration: none;
      color: whitesmoke; }
    header #menu a:hover {
      color: rgba(237, 238, 234, 0.473); }
